absl-py==0.8.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
numpy==1.18.5
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardcolab==0.0.22
tensorflow==2.3.0
tensorflow-addons==0.8.3
tensorflow-datasets==2.1.0
tensorflow-estimator==2.3.0
tensorflow-gcs-config==2.3.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.23.0
tensorflow-privacy==0.2.2
tensorflow-probability==0.11.0
pandas==1.0.5
pandas-datareader==0.8.1
pandas-gbq==0.11.0
pandas-profiling==1.4.1
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
python-utils==2.4.0
matplotlib==3.2.2
matplotlib-venn==0.11.5